body{
    background-color: rgb(88, 152, 235);
    font-family: initial;
}
form{
    height: 50%;
    width: 50%;
    text-align: center;
    
    background-color: ivory;
    
}
#inicial{
    max-width: 40%;
    margin: auto;
}
input{
    padding: 7px;
    margin: 7px;
}
